body{
	background: #3F51B5;
	color: white;
	text-align: center;	
}


h1{
	font-family: 'Bungee', cursive;	
	font-size: 40px;
}

h3{
	font-size: 20px;
}

p{
	font-size: 22px;
	font-family: 'Bungee', cursive;		
}

a, a:visited, a:hover{
	text-decoration: none;
	color: white;
}

p a:hover{
	text-decoration: underline;
}

.fa{
	font-size: 35px;
	padding: 10px;
}

.example, .example-sm{
	font-size: 18px;
	color: black;
	font-family: 'Inconsolata', monospace;
}

.example-sm{
	font-size: 17px;
}

.row{
	padding-top: 5%;
}

.us{
	padding-right: 5%;
	border-right: 2px solid white;
}

.us p{
	font-size: 18px;
}


